<br>

<!-- <div class="container">
  <ul class="vehicles">
    <li *ngFor="let vehicle of vehicles">
      <a routerLink="/detail/{{vehicle.id}}">
        <span class="badge">{{vehicle.id}}</span> {{vehicle.make}}
      </a>
    </li>
  </ul>
</div> -->

<div class="row">
  <div id="search-controls" class="col-lg-3 col-md-4 col-sm-4 hidden-xs">
    <br>
    <form #filterVehicles="ngForm" (ngSubmit)="getVehicles(filterVehicles)">
      <div class="row">
        <div class="form-group">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="minprice">Price Range</label>
            <select class="form-control" name="minprice" id="minprice" ngModel="min">
              <option selected value="min">Min</option>
              <option value="0">$0</option>
              <option value="5000">$5000</option>
              <option value="10000">$10000</option>
              <option value="15000">$15000</option>
              <option value="20000">$20000</option>
              <option value="25000">$25000</option>
              <option value="30000">$30000</option>
              <option value="35000">$35000</option>
              <option value="40000">$40000</option>
              <option value="45000">$45000</option>
              <option value="50000">$50000</option>
              <option value="60000">$60000</option>
              <option value="70000">$70000</option>
              <option value="80000">$80000</option>
              <option value="90000">$90000</option>
              <option value="100000">$100000</option>
              <option value="120000">$120000</option>
              <option value="140000">$140000</option>
              <option value="160000">$160000</option>
              <option value="180000">$180000</option>
              <option value="200000">$200000</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="maxprice"><br></label>
            <select class="form-control" name="maxprice" ngModel="max">
              <option selected value="max">Max</option>
              <option value="5000">$5000</option>
              <option value="10000">$10000</option>
              <option value="15000">$15000</option>
              <option value="20000">$20000</option>
              <option value="25000">$25000</option>
              <option value="30000">$30000</option>
              <option value="35000">$35000</option>
              <option value="40000">$40000</option>
              <option value="45000">$45000</option>
              <option value="50000">$50000</option>
              <option value="60000">$60000</option>
              <option value="70000">$70000</option>
              <option value="80000">$80000</option>
              <option value="90000">$90000</option>
              <option value="100000">$100000</option>
              <option value="120000">$120000</option>
              <option value="140000">$140000</option>
              <option value="160000">$160000</option>
              <option value="180000">$180000</option>
              <option value="200000">$200000</option>
              <option value="none">None</option>
            </select>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="minyear">Year Range</label>
            <select class="form-control" name="minyear" ngModel="min">
              <option selected value="min">From</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="maxyear"><br></label>
            <select class="form-control" name="maxyear" ngModel="max">
              <option selected value="max">To</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
            </select>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="make">Make</label>
            <select class="form-control" name="make" ngModel="all">
              <option value="all">All Makes</option>
              <option value="Acura">Acura</option>
              <option value="AstonMartin">Aston Martin</option>
              <option value="Audi">Audi</option>
              <option value="Bentley">Bentley</option>
              <option value="BMW">BMW</option>
              <option value="Buick">Buick</option>
              <option value="Cadillac">Cadillac</option>
              <option value="Chevrolet">Chevrolet</option>
              <option value="Chrysler">Chrysler</option>
              <option value="Dodge">Dodge</option>
              <option value="Ferrari">Ferrari</option>
              <option value="Fiat">Fiat</option>
              <option value="GMC">General Motors</option>
              <option value="Honda">Honda</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Jeep">Jeep</option>
              <option value="LandRover">Land Rover</option>
              <option value="Lexus">Lexus</option>
              <option value="Maserati">Maserati</option>
              <option value="Mercedez-Benz">Mercedez-Benz</option>
              <option value="Nissan">Nissan</option>
              <option value="Porsche">Porsche</option>
              <option value="Scion">Scion</option>
              <option value="Subaru">Subaru</option>
              <option value="Tesla">Tesla</option>
              <option value="Toyota">Toyota</option>
              <option value="Volkswagen">Volkswagen</option>
              <option value="Volvo">Volvo</option>
            </select>
          </div>
        </div>
      </div>
<!--
      <br>

      <div class="row">
        <div class="form-group">
      	  <div class="col-lg-12 col-md-12 col-sm-12">
            <label>Body Type</label>
            <select class="form-control">
              <option value="all">All Body Types</option>
              <option value="convertable">Convertable</option>
              <option value="coupe">Coupe</option>
              <option value="hatchback">Hatchback</option>
              <option value="minivan">Minivan</option>
              <option value="pickup">Pickup</option>
              <option value="sedan">Sedan</option>
              <option value="suv">SUV</option>
            </select>
          </div>
        </div>
      </div>
-->
      <br>

      <div class="row">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="mileage">Mileage</label>
            <select class="form-control" name="mileage" ngModel="any">
              <option value="any">Any Mileage</option>
              <option value="10000">Under 10,000</option>
              <option value="20000">Under 20,000</option>
              <option value="30000">Under 30,000</option>
              <option value="40000">Under 40,000</option>
              <option value="50000">Under 50,000</option>
              <option value="60000">Under 60,000</option>
              <option value="70000">Under 70,000</option>
              <option value="80000">Under 80,000</option>
              <option value="90000">Under 90,000</option>
              <option value="100000">Under 100,000</option>
            </select>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
          <br>
          <button type="submit" class="btn btn-default pull-right">Search</button>
        </div>
      </div>
    </form>
    <br>
  </div>
  <div class="container col-lg-9 col-md-8 col-sm-8 col-xs-12">
    <div class="card col-lg-3 col-md-4 col-sm-4 col-xs-12" *ngFor="let vehicle of vehicles | paginate: { itemsPerPage: 15, currentPage: p }">
      <figure>
      	<div class="center-cropped">
          <img  src="{{vehicle.image_link}}">
        </div>
    	<figcaption>
          <h5 class="card-title">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a *ngIf="authService.loggedIn()" routerLink="/detail/{{vehicle.id}}" class="btn btn-default">Details</a>
          <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Details</a>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="container col-lg-9 col-md-8 col-sm-8 col-xs-12">
    <pagination-controls class="my-pagination text-center" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<br>